html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

* {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.mainbody {
    background-image: linear-gradient(#00000088, rgba(0, 0, 0, 0.389)), url("https://www-static.warframe.com/uploads/53b7bb2e4ae64030bccf706c6bd5897f.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: transitionIn 0.75s;
}

.registerspace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.registerwindow {
    width: 300px;
    padding: 2rem 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 35px black;
}

.registerwindow h2 {
    text-align: center;
    margin-top: 0;
}

.registerwindow label {
    display: inline-block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 3px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    color: black;
}

button {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #145472;
    color: white;
    text-align: center;
    transition: transform 0.5s ease;
}

button:hover {
    transform: scale(1.05);
}
